<div class="container_big-card">

  <div class="big-card__photo">
    <img
    src="https://tm.ibxk.com.br/2019/12/21/21104920200015.jpg?ims=352x208"
    alt=""
    height="200px"
    srcset="">
  </div>


  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nullam aliquet dictum pretium.
      Maecenas luctus tellus dolor, dapibus vehicula dolor pharetra ut.
    </a></p>
  </div>
</div>
