<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://sm.ign.com/ign_br/screenshot/default/new-pokemon-animated-series-artwork_wmpy.jpg"
      cardTitle="Fim da era Ash"
      cardDescription="Novo desenho de Pokémon não terá mais Ash como protagonista"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://i.ytimg.com/vi/DCRj_3S1YBA/maxresdefault.jpg"
      cardTitle="Nova série de Pokémon lança trailer"
    >
    </app-small-card>

    <app-small-card
      photoCover="https://tcg.pokemon.com/assets/img/share/pt-br/151/share_fb.jpg"
      cardTitle="Pokemon TCG lança coleção com 151 pokemons"
    >
    </app-small-card>
    <app-small-card
      photoCover="https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,w_1200/ncom/en_US/articles/2023/happy-2nd-anniversary-pokemon-unite-mewtwo-is-ready-to-celebrate/1920x1080_Switch_News_Mewtwo"
      cardTitle="Segundo aniverário de Pokemon Unite traz Mewtwo"
    >
    </app-small-card>
  </div>
</div>
